<div class="row">
  <nav class="navbar-wrapper bg-dark">
    <div class="float-right">
        <div class="col-md-12">
            <button type="button" class="btn border-warning text-light rounded-lg" (click)="showLogin=true; showRegister=false;">Login</button>
            <button type="button" class="btn border-warning text-light ml-2 rounded-lg" (click)="showRegister=true; showLogin=false">Register</button>
        </div>
    </div>
  </nav>
</div>

<div class="row margin-top">
  <div class="container border border-dark">
      <!-- Login -->
    <form [formGroup]="getHomepageServiceLoginForm()" (ngSubmit)="onLogin()" *ngIf="showLogin">
      <h1 class="text-center">LOGIN</h1>
      <img class="margin-left-right" src="https://images.vexels.com/media/users/3/140908/isolated/preview/bdc30bbe3c022a11e2d7fd0e642c61ae-open-book-icon-by-vexels.png" width="400px;" height="400px;">
      <input type="hidden" formControlName="$id">
        <div class="form-group">
            <input formControlName="username" class="form-control" placeholder="username / email" [ngClass]="{'is-invalid':submitted && formControls.username.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.username.errors">
              This field is required.
            </div>

            <input type="password" formControlName="password" class="form-control" placeholder="password" [ngClass]="{'is-invalid':submitted && formControls.password.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.password.errors">
                <label *ngIf="formControls.password.errors.required">This field is required.</label>
            </div>
        </div>
        <input type="submit" class="btn btn-dark text-light" value="Submit">
        <input type="reset" class="btn btn-dark ml-2 text-light" value="Cancel">
    </form>

    <div class="alert alert-info" *ngIf="successMessage">
      Login Success.
    </div>

    <!-- Register -->
    <form [formGroup]="this.homepageService.Registerform" (ngSubmit)="onRegister()" *ngIf="showRegister">
        <h1 class="text-center">REGISTER</h1>
        <input type="hidden" formControlName="$id">
        <div class="form-group">
          <input formControlName="username" class="form-control" placeholder="username" [ngClass]="{'is-invalid':submitted && formControls.username.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.username.errors">
            This field is required.
          </div>

          <input formControlName="email" class="form-control" placeholder="email" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
              <label *ngIf="formControls.email.errors.required">This field is required.</label>
              <label *ngIf="formControls.email.errors.email">Invalid email address.</label>
          </div>

          <input type="password" formControlName="password" class="form-control" placeholder="password" [ngClass]="{'is-invalid':submitted && formControls.password.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.password.errors">
              <label *ngIf="formControls.password.errors.required">This field is required.</label>
              <label *ngIf="formControls.password.errors.minlength">Required min length: 6.</label>
          </div>

          <input formControlName="school" class="form-control" placeholder="school" [ngClass]="{'is-invalid':submitted && formControls.school.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.school.errors">
            This field is required.
          </div>

          <input type="hidden" formControlName="gpa">

          <!-- <input formControlName="repassword" class="form-control" placeholder="re-password">
          <input formControlName="school" class="form-control" placeholder="school"> -->

        </div>
      <div class="alert alert-info" *ngIf="successMessage">
        Successfully registering new user.
      </div>

      <input type="submit" class="btn btn-dark" value="Submit">
      <input type="reset" class="btn btn-dark ml-2" value="Cancel">

    </form>
  </div>
</div>

<!-- End of Form Register -->

<!-- Data User di Firebase -->
<table class="table table-sm" *ngIf="admin">
  <h1>HELLO ADMIN</h1>
  <thead>
    <th>Username</th>
    <th>Email</th>
    <th>Password</th>
    <th>School</th>
    <th>GPA</th>
  </thead>
  <ng-container *ngFor="let user of userArray">
    <tr class="table-dark">
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
      <td>{{user.school}}</td>
      <td>{{user.gpa}}</td>
      <td>
        <button class="btn btn-outline-info" (click)="homepageService.fillForm(user)">Edit</button>
        <button class="btn btn-outline-danger" (click)="onDelete(user.$id)">Delete</button>
      </td>
    </tr>
  </ng-container>
</table>
<div class="alert alert-danger" *ngIf="deleteMessage">
  Deleted successfully.
</div>
